<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Prueba</h1>
    <h2>Horario 1</h2>
    <ul>
        {% for item in horario1_data %}
            <li>Materia: {{ item.materia }}</li>
            <li>Horario: {{ item.horario }}</li>
            <li>Profesor: {{ item.profesor }}</li>
        {% endfor %}
    </ul>
    <ul>
        {% for item in horario2_data %}
            <li>Materia: {{ item.materia }}</li>
            <li>Horario: {{ item.horario }}</li>
            <li>Profesor: {{ item.profesor }}</li>
        {% endfor %}
    </ul>
    <ul>
        {% for item in horario3_data %}
            <li>Materia: {{ item.materia }}</li>
            <li>Horario: {{ item.horario }}</li>
            <li>Profesor: {{ item.profesor }}</li>
        {% endfor %}
    </ul> 

    <footer>
        <p>&copy; 2023 - UniCronos</p>
    </footer>
</body>
</html>